{% extends 'base.html' %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
{% load user_filters %}
    <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Изменить пароль
              </div>
              <div class="card-body">
                {% include 'includes/users/user_auth_form_check.html' %}
                <form method="post" action="{% url 'users:password_change_form' %}">
                  {% include 'includes/users/user_auth_form.html' %}
                  <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                      Изменить пароль
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}